#root {
    background-color: azure;
    font-family: "Helvetica Neue", sans-serif;
    padding-top:30px;
}

.parent-container {
    background-color: white;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 750px;
    margin: auto;
}

#banner {
    border-radius: 8px 10px 0 0;
}

#chat-box {
    text-wrap: unset;
}

h3 {
    color: #7C3AED;
    margin-bottom: 10px;
}

#chat-container {
    margin: 20px 10px 20px 10px;
    width: 375px;
    height: 500px;
}

.chat-title {
    /*todo clean up*/
    margin-left:25%;
}

textarea, #chat-response {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #EFF0F4;
    width: 317px;
    height: 118px;
    margin-left: 18px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 10px;
    resize: none;
}

#chat-form {
    margin-top:30px;
    margin-bottom: 20px;
}

form  {
    margin: 20px 30px;
}

input[type="radio"]{
    margin: 8px;
}

input[type="submit"] {
   background-color: #7C3AED;
    color: white;
    width: 322px;
    height:50px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    font-size: 16px;
}

input[type="submit"]:disabled {
    background-color: #9a67ff;
}

#dev-details {
    margin-left: 33%;
}
